.loader {
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 20px;
}

div.navlink {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0,0,0,.2);
    align-items: center;
}

div.navlink div:first-child{
    color: red;
    display: flex;
    justify-content: space-around;
    width: 200px;
}